:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;
  --background: #f3f5f7;

  --title: #313131;
  --text: #717171;

  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);

  --padding: 2rem 20rem;
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Deca&display=swap");
}

* {
  box-sizing: boder-box;
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: var(--background);
}

header {
  background: var(--linear);
  height: 100px;
  color: var(--white);
  padding: var(--padding);
}

.menu {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.wrapperInput {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

.input {
  background-color: transparent;
  color: var(--white);
  border: 0;
  margin-left: 0.8rem;
  height: 100%;
  flex: 1;
  outline: none;
}

.searchButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.content {
  padding: var(--padding);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.card {
  background-color: var(--white);
  padding: 1.5rem;
}

.wrapperCardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.cardDate {
  color: var(--text);
  font-size: 16px;
  line-height: 20px;
}

.cardTitle {
  color: var(--title);
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 1.1rem;
}

.cardText {
  color: var(--text);
  font-size: 18px;
  line-height: 32px;
}
